<div>
	<!--header部分-->
		<div class="bar bar-header bar-positive">
			<button class="button button-clear" ng-click="back()">
				<i class="icon ion-ios-arrow-left"></i>
			</button>
			<h1 class="title">社区医疗</h1>
		</div>
		<!--content部分-->
		<div class="content has-header  scroll scroll-content">
			<div class="list ">
				 <div class="item item-thumbnail-left item-text-wrap">
				    <img src="img/fs/27.png">
				    <h2>社区医院</h2>
				    <p>经营：内外科、眼科、骨科、儿科、妇科、脑科...</p>
				    <p>电话 ： 0373-66083399&nbsp;&nbsp;&nbsp;<i class="icon ion-ios-telephone positive"></i></p>
					<p>地址 ： 农业路与花园路交叉口</p>
				 </div>
			</div>
			<div class="list ">
				 <div class="item item-thumbnail-left item-text-wrap">
				    <img src="img/fs/28.png">
				    <h2>李家寨社区卫生诊疗室</h2>
				    <p>经营：内外科、眼科、骨科、儿科、妇科、脑科...</p>
				    <p>电话 ： 0373-66083399&nbsp;&nbsp;&nbsp;<i class="icon ion-ios-telephone positive"></i></p>
					<p>地址 ： 农业路与花园路交叉口</p>
				 </div>
			</div>
			<div class="list ">
				 <div class="item item-thumbnail-left item-text-wrap">
				    <img src="img/fs/29.png">
				    <h2><a href="#/hospitaldetails">郑州大学第一附属医院</a></h2>
				    <p>经营：内外科、眼科、骨科、儿科、妇科、脑科...</p>
				    <p>电话 ： 0373-66083399&nbsp;&nbsp;&nbsp;<i class="icon ion-ios-telephone positive"></i></p>
					<p>地址 ： 农业路与花园路交叉口</p>
				 </div>
			</div>
			<div class="list ">
				 <div class="item item-thumbnail-left item-text-wrap">
				    <img src="img/fs/30.png">
				    <h2>花园路妇幼保健院</h2>
				    <p>经营：内外科、眼科、骨科、儿科、妇科、脑科...</p>
				    <p>电话 ： 0373-66083399&nbsp;&nbsp;&nbsp;<i class="icon ion-ios-telephone positive"></i></p>
					<p>地址 ： 农业路与花园路交叉口</p>
				 </div>
			</div>
		</div>
</div>
