<div>
	<!--header部分-->
		<div class="bar bar-header bar-positive">
			<button class="button button-clear" ng-click="back()">
				<i class="icon ion-ios-arrow-left"></i>
			</button>
			<h1 class="title">医院详情</h1>
		</div>
		<!--content部分-->
		<div class="content has-header  scroll scroll-content">
			<div class="list">
				<h4 class="title text-center">郑州大学第一附属院诊疗所</h4>
				<div class="item item-body">
					
				    <img class="full-image" src="img/fs/31.png">
				    <p>
				      郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月，
				郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月，郑州大学第一附属医院始建于1928年9月。
				    </p>
				</div>
			</div>
		</div>
</div>
