<ion-view>
	<!--header部分-->
		<div class="bar bar-header bar-positive">
			<button class="button button-clear" ng-click="back()">
				<i class="icon ion-ios-arrow-left"></i>
			</button>
			<h1 class="title">红包专区</h1>
		</div>
		<!--content部分-->
		<div class="content has-header  has-tabs scroll scroll-content" style="overflow-y: scroll">
			<ul class="list">
				<li class="item text-center">
					红包说明：红包如何赚钱，心券如何获取、兑现
				</li>
				<li class="item">
					<a href="#/saledetail">
						<img src="img/fs/5.png" class="full-image" />
					</a>
					<p>百雀羚红包送不停</p>
				</li>
				<li class="item">
					<img src="img/fs/6.png" class="full-image" />
					<p>百雀羚红包送不停</p>
				</li>
				<li class="item">
					<img src="img/fs/7.png" class="full-image" />
					<p>百雀羚红包送不停</p>
				</li>
				<li class="item item-divider">
					<img src="img/fs/8.png" class="full-image">
				</li>
				<li class="item item-divider">
					<img src="img/fs/9.png" class="full-image">
				</li>
			</ul>
		</div>
		<!--tab切换-->
		<div class="tabs tabs-icon-top tabs-positive tabs-color-light">
			<div class="tab-item active">
				<i class="icon ion-home"></i>
				我的小区
			</div>
			<div class="tab-item">
				<i class="icon ion-android-mail"></i>
				红包专区
			</div>
			<div class="tab-item">
				<i class="icon ion-coffee"></i>
				小区便民
			</div>
			<div class="tab-item">
				<i class="icon ion-aperture"></i>
				小区商圈
			</div>
			<div class="tab-item">
				<i class="icon ion-person"></i>
				我的小家
			</div>
		</div>
</ion-view>
