<div ng-controller="secondhandCtrl">
	<!--header部分-->
		<div class="bar bar-header bar-positive" >
			<button class="button button-clear" ng-click="back()">
				<i class="icon ion-ios-arrow-left"></i>
			</button>
			<h1 class="title">二手置换</h1>
			<button class="button button-clear icon ion-navicon" ng-click="popover.show($event)"></button>
		</div>
		<!--content部分-->
		<div class="content has-header has-footer scroll scroll-content" style="overflow-y: scroll;">
			<div class="list ">
				 <div class="item item-thumbnail-left item-icon-right item-text-wrap">
				    <img src="img/fs/33.png">
				    <h2 class="title">二手苹果手机</h2><br/>
				    <div>九成新，带原装充电器和原装耳机，需要的电话联系。</div><br/>			    
					<span class="assertive">价格:5392元</span>
					<i class="icon ion-ios-telephone positive"></i>
				 </div>
			</div>
			<div class="list ">
				 <div class="item item-thumbnail-left item-icon-right item-text-wrap">
				    <img src="img/fs/34.png">
				    <h2 class="title">九成新苹果笔记本</h2><br/>
				    <div>九成新，带原装充电器和原装耳机，需要的电话联系。</div><br/>			    
					<span class="assertive">价格:5392元</span>
					<i class="icon ion-ios-telephone positive"></i>
				 </div>
			</div>
			<div class="list ">
				 <div class="item item-thumbnail-left item-icon-right item-text-wrap">
				    <img src="img/fs/35.png">
				    <h2 class="title">刚买的香奈儿包包</h2><br/>
				    <div>九成新，带原装充电器和原装耳机，需要的电话联系。</div><br/>			    
					<span class="assertive">价格:5392元</span>
					<i class="icon ion-ios-telephone positive"></i>
				 </div>
			</div>
			<div class="list ">
				 <div class="item item-thumbnail-left item-icon-right item-text-wrap">
				    <img src="img/fs/36.png">
				    <h2 class="title">用了半年的单反相机</h2><br/>
				    <div>九成新，带原装充电器和原装耳机，需要的电话联系。</div><br/>			    
					<span class="assertive">价格:5392元</span>
					<i class="icon ion-ios-telephone positive"></i>
				 </div>
			</div>
		</div>
		<div class="bar bar-footer bar-positive">
			<h2 class="title">
				<a href="#/secondhandpublish"><i class="icon ion-ios-list-outline"></i>
				我要发布</a></h2>
		</div>
</div>
