<div>
    <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back"
            ng-click="back()">
        </button>
        <div class="title">实用查询</div>
    </div>
    <ion-content class="has-header stable-bg">
        <ion-list class="padding-top">
            <ion-item class="item-icon-right">
                违章查询
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right"
                      ng-click="goState('expresscheck',null)">
                快递查询
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                驾驶证扣分查询
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                标准体重
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                健康自测
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                性格自测
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</div>