<div>
    <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="back()"></button>
        <h1 class="title">小区商圈</h1>
    </div>
    <ion-content class="has-header stable-bg">
        <div class="list padding-top">
            
            <a href="#/clothesdetail" class="item item-thumbnail-left">
                <img src="img/chj16.jpg" />
                <h3>韩国原单精品服饰</h3>
                <p class="item-text-wrap">经营范围：精品男装、女装、男鞋、女鞋、潮流、服饰</p>
                <p>地址：农业路与花园路招银大厦</p>
                <p>
                    0373-1234567
                    <i class="icon ion-ios-telephone"></i>
                </p>
            </a>
            <div class="item item-thumbnail-left">
                <img src="img/chj19.jpg" />
                <h3>米兰服饰</h3>
                <p class="item-text-wrap">经营范围：精品男装、女装、男鞋、女鞋、潮流、服饰</p>
                <p>地址：农业路与花园路招银大厦</p>
                <p>
                    0373-1234567
                    <i class="icon ion-ios-telephone"></i>
                </p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="img/chj17.jpg" />
                <h3>米兰服饰</h3>
                <p class="item-text-wrap">经营范围：精品男装、女装、男鞋、女鞋、潮流、服饰</p>
                <p>地址：农业路与花园路招银大厦</p>
                <p>
                    0373-1234567
                    <i class="icon ion-ios-telephone"></i>
                </p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="img/chj18.jpg" />
                <h3>米兰服饰</h3>
                <p class="item-text-wrap">经营范围：精品男装、女装、男鞋、女鞋、潮流、服饰</p>
                <p>地址：农业路与花园路招银大厦</p>
                <p class="ion-right">
                    0373-1234567
                    <i class="icon ion-ios-telephone"></i>
                </p>
            </div>
        </div>
    </ion-content>
</div>

