	<style>
		*{
			font-family: "Microsoft YaHei", '微软雅黑';
		}
		.col {
			height:90px;
			text-align: center;
			font-size: 14px;
			color:#969696;
		}
		.col img{
			width: 54px;
		}
		.img{
			width: 100%;
		}
		.home span{
			float: right;
			color:#FFC252;
		}
	</style>
	<div class="home">
<div class="bar bar-header bar-positive">
	<button class="button button-clear">
		<i class="icon ion-ios-arrow-back"></i>
	</button>
	<h1 class="title">我的小区</h1>
</div>
<div class="content has-header has-footer scroll scroll-content" style="overflow-y: scroll;">
	<img src="img/lyp/s-1.png" alt="" class="full-image">
	<div class="row text-center">
		<div class="col"><a href="#/tongGao"><img src="img/lyp/s-2.png" alt=""></a><br>小区通告</div>
		<div class="col"><a href="#/weiXiu"><img src="img/lyp/s-3.png" alt=""></a><br>物业维修</div>
		<div class="col"><a href="#/jiaShi"><img src="img/lyp/s-4.png" alt=""></a><br>小区家事</div>
		<div class="col"><a href="#/jinXuan"><img src="img/lyp/s-5.png" alt=""></a><br>小区精选</div>
	</div>
	<div class="row">
		<div class="col"><a href="#/niliao"><img src="img/lyp/s-6.png" alt=""></a><br>小区匿聊</div>
		<div class="col"><a href="#/wenwen"><img src="img/lyp/s-7.png" alt=""></a><br>小区问问</div>
		<div class="col"><a href="#/dingcan"><img src="img/lyp/s-8.png" alt=""></a><br>订餐服务</div>
		<div class="col"><a href="#/morelyp"><img src="img/lyp/s-9.png" alt=""></a><br>更多</div>
	</div>
	<div class="list">
		<div class="item">
			<i class="icon ion-ios-paper-outline energized"></i>
			小区头条
			<a href="#/gengduo"><span>更多</span></a>
		</div>
		<div class="item item-text-wrap item-thumbnail-left">
			<img src="img/lyp/s-10.png" alt="">
			<h3>
				2015年底小区绿化工程即将呈现
			</h3>
			<p>
				湖畔公园景观免费下载，地产湖畔公园景观效果图小区风景
			</p>
			<p>
				2015-12-30
			</p>
		</div>
		<div class="item item-text-wrap item-thumbnail-left">
			<img src="img/lyp/s-11.png" alt="">
			<h3>
				"上合时间"会展中心如意湖成景点
			</h3>
			<p>
				12月14日-12月16日，上合组织峰会在郑州CBD举行，届时多国领导人将在
				CBD...
			</p>
			<p>
				2015-12-30
			</p>
		</div>
		<div class="item">
			<i class="icon ion-android-star energized"></i>
			精彩活动
			<span>更多</span>
		</div>
		<div class="item item-text-wrap item-thumbnail-left">
			<img src="img/lyp/s-10.png" alt="">
			<h3>
				2015年底小区绿化工程即将呈现
			</h3>
			<p>
				湖畔公园景观免费下载，地产湖畔公园景观效果图小区风景
			</p>
			<p>
				2015-12-30
			</p>
		</div>

	</div>
</div>
	</div>


