<div>
    <div class="bar bar-header bar-positive">
        <button class="button button-clear icon ion-ios-arrow-back"
                ng-click="back()"></button>
        <h1 class="title">专区红包</h1>
    </div>
    <ion-content class="has-header">
        <ion-list>
            <ion-item>
                红包说明：红包如何赚钱，心劵如何获取，兑现
            </ion-item>
            <ion-item>
            	<a href="#/saledetail">
					<img src="img/chj42.jpg" class="full-image" />
				</a>
                <!--<img class="full-image" src="img/chj42.jpg" alt="">-->
                <p>百雀羚红包送不停</p>
            </ion-item>
            <ion-item>
                <img class="full-image" src="img/chj43.jpg" alt="">
                <p>百雀羚红包送不停</p>
            </ion-item>
            <ion-item>
                <img class="full-image" src="img/chj44.jpg" alt="">
                <p>百雀羚红包送不停</p>
            </ion-item>
            <ion-item>
                <img class="full-image" src="img/chj45.jpg" alt="">
            </ion-item>
            <ion-item>
                <img class="full-image" src="img/chj46.jpg" alt="">
            </ion-item>
        </ion-list>
    </ion-content>
</div>