<ion-tabs class="tabs-icon-top tabs-color-active-positive">
			<ion-tab
				title="我的小区"
				icon-on="ion-ios-home"
				icon-off="ion-ios-home-outline"
				href="#tabs/myhome"
				>
				<ion-nav-view name="myhome"></ion-nav-view>
			</ion-tab>
			<ion-tab
				title="红包专区"
				icon-on="ion-ios-email"
				icon-off="ion-ios-email-outline"
				href="#tabs/money"
				>
				<ion-nav-view name="money"></ion-nav-view>
			</ion-tab>
			<ion-tab
				title="小区便民"
				icon-on="ion-social-pinterest"
				icon-off="ion-social-pinterest-outline"
				href="#tabs/person"
				>
				<ion-nav-view name="person"></ion-nav-view>
			</ion-tab>
			<ion-tab
				title="小区商圈"
				icon-on="ion-ios-flower"
				icon-off="ion-ios-flower-outline"
				href="#tabs/buy"
				>
				<ion-nav-view name="buy"></ion-nav-view>
			</ion-tab>
			<ion-tab
				title="我的小家"
				icon-on="ion-ios-person"
				icon-off="ion-ios-person-outline"
				href="#tabs/smallperson"
				>
				<ion-nav-view name="smallperson"></ion-nav-view>
			</ion-tab>
		</ion-tabs>