
		<style>
	
.item p.mycolor{
	color:#296fe9
}
.my-color{
	color:#999999;
}
.item-body {
    overflow: auto;
    padding: 0px;
    text-overflow: inherit;
    white-space: normal;
}
.list-inset {
    overflow: hidden;
    margin: -4px 10px;
    border-radius: 2px;
    background-color: #fff;
}
		</style>
	
		<div class="bar bar-header bar-positive">
			<button class="button button-clear" ng-click="back()">
				<i class="icon ion-ios-arrow-back"></i>
				
			</button><h1 class="title">找回密码</h1>
		</div>
			
			<div class="content has-footer has-header scroll scroll-content" style="overflow-y: scroll;">
			<div class="list">
				
	                <label class="item item-input">
					<i class="icon placeholder-icon ion-android-phone-portrait"></i>
					<input type="text" placeholder="请输入手机号" />
				</label>
				
                <label class="item item-input full-image">
					<i class="icon placeholder-icon ion-key"></i>
					<input type="text" placeholder="请输入验证码" />
					<button class="button button-assertive button-clear button-outline">
						获取验证码
					</button>
				</label>
				 <label class="item item-input ">
				   <i class="icon placeholder-icon ion-locked"></i>
					<input type="text" placeholder="请输入新的登录密码" />
					
				</label>
				<label class="item item-input">
					<i class="icon placeholder-icon ion-locked"></i>
					<input type="text" placeholder="请再次确认新的登录密码" />
					
				</label>
			</div>
	<div class="list list-inset">
	<button class="button button-block button-energized">下一步</button>
	
	</div>
	<div class="item item-body">
		<p class="text-center">注册或使用账号登录即视为同意</p>
		<p class="text-center mycolor">《i的小区用户协议》</p>
	</div>
	</div>
