<div class="d-1">
    <div class="list">
        <div class="item item-text-wrap item-avatar ">
            <img src="img/lyp/d-5.png" alt="">
            <p>
                蓝胖子 <span>2016-02-08</span>
            </p>
            <p>
                这家披萨挺好的，我每次逛商场之后都会吃。
            </p>
        </div>
        <div class="item item-text-wrap item-avatar">
            <img src="img/lyp/d-6.png" alt="">
            <p>
                隔壁的小明<span>2016-01-08</span>
            </p>
            <p>
                挺好吃的，之前是朋友带我去吃点，现在我自己也爱上了。
            </p>
        </div>
        <div class="item item-text-wrap item-avatar">
            <img src="img/lyp/d-7.png" alt="">
            <p>
                Ana小娜<span>2016-03-08</span>
            </p>
            <p>
                门口那家披萨店还不错，环境不错，还挺干净的服务比较
                热情，强烈推介他家的经典至尊披萨，超级好吃

            </p>
        </div>
    </div>
</div>
<style>
    .d-1 span{
        float: right;
    }
</style>