<div class="list">
    <div class="item item-text-wrap item-thumbnail-left">
        <img src="img/lyp/d-2.png" alt="">
        <p>
            披萨，又一披萨饼，披萨，披萨；是一种发源于意大利的食品
            在全球颇受欢迎。披萨饼的统筹做法使用发酵的圆面冰上覆盖犯些将
            奈落以及其他裴亮，并有烤炉烤至而成
        </p>
    </div>
    <div class="item item-text-wrap item-thumbnail-left">
        <img src="img/lyp/d-3.png" alt="">
        <p>
            披萨，又一披萨饼，披萨，披萨；是一种发源于意大利的食品
            在全球颇受欢迎。披萨饼的统筹做法使用发酵的圆面冰上覆盖犯些将
            奈落以及其他裴亮，并有烤炉烤至而成
        </p>
    </div>
    <div class="item item-text-wrap item-thumbnail-left">
        <img src="img/lyp/d-4.png" alt="">
        <p>
            披萨，又一披萨饼，披萨，披萨；是一种发源于意大利的食品
            在全球颇受欢迎。披萨饼的统筹做法使用发酵的圆面冰上覆盖犯些将
            奈落以及其他裴亮，并有烤炉烤至而成
        </p>
    </div>
</div>