
    <style>
        .img{
            width: 100%;
        }
        .stabl{
            color:#ccc;!important;
        }
        p{
            font-size: 10px;
        }
        .s-1{
            color: #FFA723;

        }
        .s-2{
            float: right;
        }
        .s-3{
            color: #666666;
            font-size: 14px;
        }
        a{
            text-decoration: none;
        }
    </style>
<div class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
    <h1 class="title">订餐服务</h1>
</div>
<div class="content has-header scroll scroll-content" style="overflow-y: scroll;">
    <img src="img/lyp/4-1.png" alt="" class="img">
    <div class="list">
        <a href="#/fuwu">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/4-2.png" alt="">
            <h3>
                美味披萨
            </h3>
            <p>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star stabl"></i>
                <span class="s-1">4.1分</span>
            </p>
            <p>
                电话：0371-6608799
            </p>
            <p>
                地址：农业路与花园路招银大厦
                <span class="s-2">
                <i class="icon ion-location assertive"></i>
                <span class="s-3">443米</span>
                 </span>
            </p>
        </div></a>
            <a href="#/fuwu">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/4-3.png" alt="">
            <h3>
                老狼大盘鸡
            </h3>
            <p>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star stabl"></i>
                <i class="icon ion-android-star stabl"></i>
                <span class="s-1">3.1分</span>
            </p>
            <p>
                电话：0371-6608799
            </p>
            <p>
                地址：农业路与花园路招银大厦
                <span class="s-2">
                <i class="icon ion-location assertive"></i>
                <span class="s-3">869米</span>
                 </span>
            </p>
        </div></a>
                <a href="#/fuwu">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/4-4.png" alt="">
            <h3>
                精品寿司
            </h3>
            <p>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <span class="s-1">5.0分</span>
            </p>
            <p>
                电话：0371-6608799
            </p>
            <p>
                地址：农业路与花园路招银大厦
                <span class="s-2">
                <i class="icon ion-location assertive"></i>
                <span class="s-3">236米</span>
                 </span>
            </p>
        </div></a>
        <a href="#/fuwu">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/4-5.png" alt="">
            <h3>
                汉堡王
            </h3>
            <p>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star energized"></i>
                <i class="icon ion-android-star stabl"></i>
                <span class="s-1">4.1分</span>
            </p>
            <p>
                电话：0371-6608799
            </p>
            <p>
                地址：农业路与花园路招银大厦
                <span class="s-2">
                <i class="icon ion-location assertive"></i>
                <span class="s-3">365米</span>
                 </span>
            </p>
        </div></a>
    </div>
</div>
