<style>
    .ul-1{
        height: 40px;
        margin-top: -20px;   
    }
    .ul-1 li{  	 
        width: 33%;
        float: left;
    }
    .ul-1 li a{
        text-decoration: none;
        color: #919191;
    }
    .ul-1 .li-1{
        padding-bottom: 20px;
        cursor: pointer;
    }
    .ul-1 .act{
        color: #3779EA;
        padding-bottom: 10px;
        border-bottom: 1px solid  #3779EA;
    }
    .d-2,.d-3{
        display: none;
    }
</style>

<div ng-controller="myCon1">
<div class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
    <h1 class="title">订餐服务</h1>
</div>
<div class="content has-header has-footer scroll scroll-content" style="overflow-y: scroll;">
    <div class="list">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/d-1.png" alt="">
            <h3>
                比格自助披萨
            </h3>
            <p>电话：0371-66087999 <i class="icon ion-ios-telephone positive"></i></p>
            <p>地址：农业路与花园路交叉口国贸360</p>
            <p>经营：披萨、汉堡、炸鸡、冰激凌、奶茶、咖啡、牛排、蛋糕...</p>
        </div>
    </div>
    <ul class="ul-1">
        <li class="li-1 act" ng-click="deL()">图文介绍</li>
        <li class="li-1" ng-click="de2()">店铺商品</li>
        <li class="li-1" ng-click="de3()">大家评价</li>
    </ul>
    <!--======================-->
    <div class="list d-1">
        <div style="text-align: center;">
            <img src="img/lyp/d-2.png" alt="" style="width:262px;height: 157px;">
        </div>
        
            <div>比格自助餐披萨是大众化的意式休闲餐厅，以自助
                披萨为主，兼隐零点基外卖。邱县烂漫的魂阿金比格自助餐披萨是大众化的意式休闲餐厅，以自助
                披萨为主，兼隐零点基外卖。邱县烂漫的魂阿金比格自助餐披萨是大众化的意式休闲餐厅，以自助
                披萨为主，兼隐零点基外卖。邱县烂漫的魂阿金比格自助餐披萨是大众化的意式休闲餐厅，以自助
                披萨为主，兼隐零点基外卖。邱县烂漫的魂阿金比格自助餐披萨是大众化的意式休闲餐厅，以自助
                披萨为主，兼隐零点基外卖。邱县烂漫的魂阿金
            </div>
        </div>

    <!--==============================-->
    <div class="list d-2">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/d-2.png" alt="">
            <p>
                披萨，又一披萨饼，披萨，披萨；是一种发源于意大利的食品
                在全球颇受欢迎。披萨饼的统筹做法使用发酵的圆面冰上覆盖犯些将
                奈落以及其他裴亮，并有烤炉烤至而成
            </p>
        </div>
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/d-3.png" alt="">
            <p>
                披萨，又一披萨饼，披萨，披萨；是一种发源于意大利的食品
                在全球颇受欢迎。披萨饼的统筹做法使用发酵的圆面冰上覆盖犯些将
                奈落以及其他裴亮，并有烤炉烤至而成
            </p>
        </div>
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/d-4.png" alt="">
            <p>
                披萨，又一披萨饼，披萨，披萨；是一种发源于意大利的食品
                在全球颇受欢迎。披萨饼的统筹做法使用发酵的圆面冰上覆盖犯些将
                奈落以及其他裴亮，并有烤炉烤至而成
            </p>
        </div>
    </div>
    <!--=============================-->
    <div class="list d-3">
        <div class="item item-text-wrap item-avatar ">
            <img src="img/lyp/d-5.png" alt="">
            <p>
                蓝胖子 <span>2016-02-08</span>
            </p>
            <p>
                这家披萨挺好的，我每次逛商场之后都会吃。
            </p>
        </div>
        <div class="item item-text-wrap item-avatar">
            <img src="img/lyp/d-6.png" alt="">
            <p>
                隔壁的小明<span>2016-02-08</span>
            </p>
            <p>
                挺好吃的，之前是朋友带我去吃点，现在我自己也爱上了。
            </p>
        </div>
        <div class="item item-text-wrap item-avatar">
            <img src="img/lyp/d-7.png" alt="">
            <p>
                Ana小娜<span>2016-02-08</span>
            </p>
            <p>
                门口那家披萨店还不错，环境不错，还挺干净的服务比较
                热情，强烈推介他家的经典至尊披萨，超级好吃

            </p>
        </div>
    </div>
    <!--================================-->
</div>
</div>

