
<div class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
    <h1 class="title">小区头条</h1>
</div>
<div class="content has-header scroll scroll-content" style="overflow-y: scroll;">
    <div class="list">
        <a href="#/neirong">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/3.png" alt="">
            <h3>
               你高考做好你准备了吗
            </h3>
            <p>
                距离高考倒计时100天，你做好了准备吗，你挑灯夜战了吗？
            </p>
            <p class="p3">
                2016-1-13
            </p>
        </div></a>
        <a href="#/neirong">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/4.png" alt="">
            <h3>
                你高考做好你准备了吗
            </h3>
            <p>
                距离高考倒计时100天，你做好了准备吗，你挑灯夜战了吗？
            </p>
            <p class="p3">
                2016-1-13
            </p>
        </div></a>
          <a href="#/neirong">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/7.png" alt="">
            <h3>
                你高考做好你准备了吗
            </h3>
            <p>
                距离高考倒计时100天，你做好了准备吗，你挑灯夜战了吗？
            </p>
            <p class="p3">
                2016-1-13
            </p>
        </div></a>
          <a href="#/neirong">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/5.png" alt="">
            <h3>
                你高考做好你准备了吗
            </h3>
            <p>
                距离高考倒计时100天，你做好了准备吗，你挑灯夜战了吗？
            </p>
            <p class="p3">
                2016-1-13
            </p>
        </div></a>
         <a href="#/neirong">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/2.png" alt="">
            <h3>
                你高考做好你准备了吗
            </h3>
            <p>
                距离高考倒计时100天，你做好了准备吗，你挑灯夜战了吗？
            </p>
            <p class="p3">
                2016-1-13
            </p>
        </div></a>
    </div>
</div>
 <style>
        .p3{
            text-align: right;
        }
        a{
            text-decoration: none;
        }
    </style>

