
    <style>
        .bar.mycolor{
            background-color:#296fe9;
        }

        body{
            background-color:#f0eff5;
        }
        .content{
            margin-top:10px;
        }
        .item div{
            margin-top:5px;
        }
        .item p{
            height:40px;
            line-height:40px;
        }
        .item span{
            font-size:12px;
            color:#999;
        }
        .item .myC{
            color:#FF3B30;
        }
        .item div .time{
            float:right;
        }
    </style>

<div class = "bar bar-header bar-royal mycolor" ng-click="back()">
    <button class = "button button-clear">
        <i class = "icon ion-ios-arrow-back "></i>
    </button>
    <h3 class = "title">小区家事</h3>
</div>
<div class = 'content has-header scroll scroll-content' style="overflow-y:scroll ;">
    <ul class = "list">
        <li class = "item item-avatar">
            <img src="img/lyp/15-1.jpg" alt="" />
            <p>小星星</p>
            <h2>小区附近哪家好吃？</h2>
            <div>

                <a class= "subdued">
                    <span>回答356 </span>
                    <i class = "ion-chatbox-working myC"></i>
                </a>
                <a class = "subdued">
                    <span>心卷68</span>
                    <i class= "ion-ios-heart  myC"></i>
                </a>
                <div class = "time"><span>今天&nbsp 10:20 </span></div>
            </div>
        </li>
        <li class = "item item-avatar">
            <img src="img/lyp/15-1.jpg" alt="" />
            <p>安妮宝贝</p>
            <h2>小区附近哪家好吃？</h2>
            <div>

                <a class= "subdued">
                    <span>回答356 </span>
                    <i class = "ion-chatbox-working myC"></i>
                </a>
                <a class = "subdued">
                    <span>心卷68</span>
                    <i class= "ion-ios-heart  myC"></i>
                </a>
                <div class = "time"><span>今天&nbsp 10:20 </span></div>
            </div>
        </li>
        <li class = "item item-avatar">
            <img src="img/lyp/15-1.jpg" alt="" />
            <p>小星星</p>
            <h2>小区附近哪家好吃？</h2>
            <div>
                <a class= "subdued">
                    <span>回答356 </span>
                    <i class = "ion-chatbox-working myC"></i>
                </a>
                <a class = "subdued">
                    <span>心卷68</span>
                    <i class= "ion-ios-heart  myC"></i>
                </a>
                <div class = "time"><span>今天&nbsp 10:20 </span></div>
            </div>
        </li>
    </ul>
</div>
<div class = "bar bar-footer bar-royal mycolor ">
    <a href="#/jiaShi2">
        <i class = "ion-ios-compose-outline" style="color:#fff;font-size:30px;margin-left:140px;"></i>
        <h4 class = "title">我要提问</h4>
    </a>

</div>

