
    <style>
        .bar.mycolor{
            background-color:#296fe9;
        }

        body{
            background-color:#f0eff5;
        }
        .content{
            margin-top:10px;
        }
        .item p{
            margin-top:5px;
        }
        .item>div>div{
            height:75px;
            color:#f00;
            font-size:20px;
            background-color:#f0eff5;
            line-height:80px;
            position:relative;
        }
        .item>div>div img{
            position:absolute;
            right:5px;
            top:10px;
        }
        .item .hei{
            text-decoration: line-through;
            color:#999;
        }
    </style>

<div class = "bar bar-header bar-royal mycolor">
    <button class = "button button-clear" ng-click="back()">
        <i class = "icon ion-ios-arrow-back "></i>
    </button>
    <h3 class = "title">小区精选</h3>
</div>
<div class = "content has-header scroll scroll-content ionic-pseudo" style="overflow-y:scroll;">
    <div class = "list">
        <a href="#jinXuan02">
        <div class = "item  item-text-wrap row row-top">
            <img src="img/lyp/17-1.jpg" alt="" class="col col-33 "/>
            <div class = "col col-66 ">
                <h2>优质水果，最新到货甜脆爽口果肉细腻皮薄多汁，限量特价</h2>
                <p>库存:5392</p>
                <div><span >优惠价:￥203&nbsp</span><span class = "hei">￥536</span><img src="img/1111.png" alt="" /></div>
            </div>

        </div></a>
         <a href="#jinXuan02">
        <div class = "item  item-text-wrap row row-top">
            <img src="img/lyp/17-2.jpg" alt="" class="col col-33 "/>
            <div class = "col col-66 ">
                <h2>优质水果，最新到货甜脆爽口果肉细腻皮薄多汁，限量特价</h2>
                <p>库存:5392</p>
                <div><span >优惠价:￥203&nbsp</span><span class = "hei">￥536</span><img src="img/1111.png" alt="" /></div>
            </div>
        </div></a>
         <a href="#jinXuan02">
        <div class = "item  item-text-wrap row row-top">
            <img src="img/lyp/17-3.jpg" alt="" class="col col-33 "/>
            <div class = "col col-66 ">
                <h2>优质水果，最新到货甜脆爽口果肉细腻皮薄多汁，限量特价</h2>
                <p>库存:5392</p>
                <div><span >优惠价:￥203&nbsp</span><span class = "hei">￥536</span><img src="img/1111.png" alt="" /></div>
            </div>

        </div></a>
         <a href="#jinXuan02">
        <div class = "item  item-text-wrap row row-top">
            <img src="img/lyp/17-4.jpg" alt="" class="col col-33 "/>
            <div class = "col col-66 ">
                <h2>优质水果，最新到货甜脆爽口果肉细腻皮薄多汁，限量特价</h2>
                <p>库存:5392</p>
                <div><span >优惠价:￥203&nbsp</span><span class = "hei">￥536</span><img src="img/1111.png" alt="" /></div>
            </div>

        </div></a>
    </div>
</div>
