
    <style>

        .bar.mycolor{
            background-color:#296fe9;
        }

        body{
            background-color:#f0eff5;
        }
        .item>div{
            box-sizing: border-box;
        }
        .row{
            padding:0;
            background-color:#fff;
        }
        .row a{
            margin:-6px 0;
            text-align:center;
            line-height:300%;
            font-size:20px;
            text-decoration: none;
            color:#fff;
        }
        .row>div{
            margin:-6px 0;
            background-color:#fff;
        }
    </style>

<div class = "bar bar-header bar-royal mycolor">
    <button class = "button button-clear" ng-click="back()">
        <i class = "icon ion-ios-arrow-back "></i>
    </button>
    <h3 class = "title">小区精选</h3>
</div>
<div class = "content has-header scroll scroll-content item-text-wrap" style="scroll-y:scroll;">
    <div class = 'list'>
        <img src="img/lyp/18-1.jpg" alt="" class = "full-image"/>
        <div class = "row">
            <div class = "col col-66">
                <h3>百雀羚草本系列</h3>
                <div>
                    <span style="color:#f00;">优惠价&nbsp:&nbsp￥203</span>&nbsp&nbsp&nbsp
                    <span style="text-decoration: line-through;color:#999">￥536</span>&nbsp&nbsp&nbsp
                    <span style="color:#999;">库存&nbsp:&nbsp22356件</span>
                </div>
            </div>
            <a href="#/jinXuan03" class = "col col-33"style="background-color:#eb8b0d;">在线订单</a>
        </div>
        <div class = "item">
            <img src="img/lyp/18-2.jpg" alt="" class = "full-image"/>
            <p>精研天然草本精华，赋予肌肤五行能量，百雀羚水嫩精纯能量元面霜成功推出，一举拿下美妆大奖。随后水嫩精纯肌底精华液，眼部精华液，明星BB霜相继推出。如今，百雀羚水嫩精纯家族又添新成员，全新退出水嫩精纯眼部凝霜，水嫩精纯明星眼霜，水嫩精纯保湿水凝露，水嫩精纯明星睡眠面膜(免洗型)四款新品。</p>
        </div>
    </div>
</div>

