    <style>
        *{
            font-family: "Microsoft YaHei", '微软雅黑';
        }
        .col {
            height:90px;
            text-align: center;
            font-size: 14px;
            color:#969696;
        }
        .col img{
            width: 54px;
        }
        .img{
            width: 100%;
        }
    </style>
<div class="bar bar-header bar-positive">
    <button class="button button-clear" ng-click="back()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">我的小区</h1>
</div>
<div class="content has-header scroll scroll-content has-footer">
    <img src="img/lyp/3-1.png" alt="" class="full-image">
    <div class="row text-center">
        <div class="col"><img src="img/lyp/3-2.png" alt=""><br>小区书屋</div>
        <div class="col"><img src="img/lyp/3-3.png" alt=""><br>小区影评</div>
        <div class="col"><img src="img/lyp/3-4.png" alt=""><br>小区童真</div>
        <div class="col"><img src="img/lyp/3-5.png" alt=""><br>小区宠园</div>
    </div>
    <div class="row">
        <div class="col"><img src="img/lyp/3-6.png" alt=""><br>小区健身</div>
        <div class="col"><img src="img/lyp/3-7.png" alt=""><br>小区旅行</div>
        <div class="col"><img src="img/lyp/3-8.png" alt=""><br>小区户外</div>
        <div class="col"><img src="img/lyp/3-9.png" alt=""><br>小区收藏</div>
    </div>
    <div class="row">
        <div class="col"><img src="img/lyp/3-10.png" alt=""><br>小区车市</div>
        <div class="col"><img src="img/lyp/3-11.png" alt=""><br>小区牙科</div>
        <div class="col"><img src="img/lyp/3-12.png" alt=""><br>小区SPA</div>
        <div class="col"><img src="img/lyp/3-13.png" alt=""><br>小区生活</div>
    </div>
</div>
