    <style>
        .con h1{
            text-align: center;
            font-weight: normal;
            font-size: 22px;
        }
        .con h2{
            font-size: 16px;
            color: #ccc;
        }
        .con img{
            width: 96%;
        }
        .con{
            /*background-color: red;*/
            width: 100%;
            padding:15px;
            text-align: center;
        }
        .con p{
            text-align: left;
        }

    </style>
<div class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
    <h1 class="title">内容详情</h1>
</div>
<div class="content has-header scroll scroll-content" style="overflow-y: scroll;">
    <div class="con">
        <h1>足球迷看过来</h1>
        <h2>2016-02-30  来源：周刊</h2>
        <img src="img/lyp/2.png" alt="">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;皇马本赛季不温不火，内部问题和伤病影响了他们的战绩，新帅齐达内的执教能力还有待验证。以往客场对阵意大利球队战绩非常糟糕，此番遭遇罗马恐怕很难轻松过关。而罗马方面加西亚下课后球队状态稳步复苏，近期攻击力有所回升。罗马小组赛磕磕绊绊，但也有主场战平巴萨的不俗表现，经历过小组赛的艰险后，淘汰赛应该更没有什么顾忌了。本场精彩亚盘多数给到客让半球低水较为中庸。后势升至半一高水平上盘压力不小；即时欧指客胜赔虽有下调，但各家调整力度不一，不少公司客胜赔依旧维持在1.80以上。综上所述，本场建议投注竞彩让球玩法3.</p>
    </div>
</div>
