
    <style>
        .right{
            float: right;
        }
        .item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image{
            width: 60px;
            height:60px;
        }
    </style>
<div class="bar bar-header bar-positive">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
    <h1 class="title">小区匿聊</h1>
</div>
<div class="content has-header scroll scroll-content" style="overflow-y: scroll;">
    <div class="list">
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/1.png" alt="">
            <h3>
                小区附近哪家商场比较好，东西多，价钱比较便宜?
            </h3>
            <p>
                <span>56分钟前</span><span class="right">回答356
                <i class="icon ion-chatbox-working energized"></i>
            </span>
            </p>
        </div>
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/1.png" alt="">
            <h3>
                小区附近哪家商场比较好，东西多，价钱比较便宜?
            </h3>
            <p>
                <span>56分钟前</span><span class="right">回答356
                <i class="icon ion-chatbox-working energized"></i>
            </span>
            </p>
        </div>
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/1.png" alt="">
            <h3>
                小区附近哪家商场比较好，东西多，价钱比较便宜?
            </h3>
            <p>
                <span>56分钟前</span><span class="right">回答356
                <i class="icon ion-chatbox-working energized"></i>
            </span>
            </p>
        </div>
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/1.png" alt="">
            <h3>
                小区附近哪家商场比较好，东西多，价钱比较便宜?
            </h3>
            <p>
                <span>56分钟前</span><span class="right">回答356
                <i class="icon ion-chatbox-working energized"></i>
            </span>
            </p>
        </div>
        <div class="item item-text-wrap item-thumbnail-left">
            <img src="img/lyp/1.png" alt="">
            <h3>
                小区附近哪家商场比较好，东西多，价钱比较便宜?
            </h3>
            <p>
                <span>56分钟前</span><span class="right">回答356
                <i class="icon ion-chatbox-working energized"></i>
            </span>
            </p>
        </div>
    </div>
</div>
<div class="bar bar-footer bar-positive">
    <h1 class="title">
        <i class="icon ion-ios-compose-outline energized"></i>
        我要提问
    </h1>
</div>
