

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

			<ion-tab
				title="我的小区"
				icon-on="ion-ios-home"
				icon-off="ion-ios-home-outline"
				href="#tabs/home"
				>
				<ion-nav-view name="home"></ion-nav-view>
			</ion-tab>

			<ion-tab
				title="红包专区"
				icon-on="ion-social-yen"
				icon-off="ion-social-yen-outline"
				href="#tabs/money"
				>
				<ion-nav-view name="money"></ion-nav-view>
				</ion-tab>

			<ion-tab
				title="小区便民"
				icon-on="ion-social-codepen"
				icon-off="ion-social-codepen-outline"
				href="#tabs/person"
				>
				<ion-nav-view name="person"></ion-nav-view>
			</ion-tab>
			<ion-tab
					title="小区商圈"
					icon-on="ion-social-chrome"
					icon-off="ion-social-chrome-outline"
					href="#tabs/shangquan"
			>
				<ion-nav-view name="shangquan"></ion-nav-view>
			</ion-tab>
			<ion-tab
					title="我的小家"
					icon-on="ion-ios-person"
					icon-off="ion-ios-person-outline"
					href="#tabs/xiaojia"
			>
				<ion-nav-view name="xiaojia"></ion-nav-view>
			</ion-tab>

</ion-tabs>