
    <style>
        .bar.mycolor{
            background-color:#296fe9;
        }
        .item div.mod{
            width:100%;
            height:30px;
            margin-top:-25px;
            /*background-color:#000；*/
            color:#fff;
            z-index:999;
        }
        body{
            background-color:#f0eff5;
        }
    </style>
<div class = "bar bar-header bar-royal mycolor">
    <button class = "button button-clear" ng-click="back()">
        <i class = "icon ion-ios-arrow-back "></i>
    </button>
    <h3 class = "title">小区通告</h3>
</div>
<div class = "content has-header scroll scroll-content">
    <div class = "list">
        <div class = "item item-text-wrap">
            <h3>郑州逛商场攻略</h3>
            <img src="img/lyp/12-1.jpg" alt=""  class = "full-image"/>
            <div class = "mod">三全路长兴路得裕华广场</div>


            <p >&nbsp&nbsp沉寂了很久的郑州商圈，最近一段时间貌似还挺热闹的陆续有新的购物中心开业————先是锦艺城C区开门迎客，随后德化无限城也是华丽启幕，元旦期间位于三全路长新路的裕华广场也一下子填补了大北区的空白。</p>
            <p >&nbsp&nbsp沉寂了很久的郑州商圈，最近一段时间貌似还挺热闹的陆续有新的购物中心开业————先是锦艺城C区开门迎客，随后德化无限城也是华丽启幕，元旦期间位于三全路长新路的裕华广场也一下子填补了大北区的空白。</p>
            <p >&nbsp&nbsp沉寂了很久的郑州商圈，最近一段时间貌似还挺热闹的陆续有新的购物中心开业————先是锦艺城C区开门迎客，随后德化无限城也是华丽启幕，元旦期间位于三全路长新路的裕华广场也一下子填补了大北区的空白。</p>
            <p >&nbsp&nbsp沉寂了很久的郑州商圈，最近一段时间貌似还挺热闹的陆续有新的购物中心开业————先是锦艺城C区开门迎客，随后德化无限城也是华丽启幕，元旦期间位于三全路长新路的裕华广场也一下子填补了大北区的空白。</p>
        </div>

    </div>
