<style>
        .bar.mycolor{
            background-color:#296fe9;
        }
        .item p.p0{
            font-size:20px;
            color:#000000

        }
        .item p.p1{
            font-size:18px;
        }
        .item p.p2{
            font-size:20px;
            color:#ccc;
        }
        body{
            background-color:#f0eff5;
        }
    a{
        text-decoration: none;
    }
    </style>
<div class = "bar bar-header bar-royal mycolor">
    <button class = "button button-clear" ng-click="back()">
        <i class = "icon ion-ios-arrow-back "></i>
    </button>
    <h3 class = "title">小区通告</h3>
</div>
<div class = "content has-header scroll scroll-content" style="overflow-y: scroll;">
    <div class = "list ">
        <a href="#/tongGao2">
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/lyp/11-1.jpg" alt="" />
            <p class = "p0">河南人均账单三万五，你拖后腿了吗</p>
            <p class = "p1 ">支付宝发布2015年全民账单 郑州人均花费共5.7万元</p>
            <p class = "p2">2016-1-13</p>
        </div></a><a href="#/tongGao2">
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/lyp/11-2.jpg" />
            <p class = "p0">河南艺考拉开序幕，考生颜值爆表</p>
            <p class = "p1 ">来自全省各地的数千名考生参加艺术试，人群中不少靓丽的身影成为冬日里的风景。</p>
            <p class = "p2">2016-1-13</p>
        </div></a><a href="#/tongGao2">
        <div class="item item-thumbnail-left item-text-wrap" >
            <img src="img/lyp/11-3.jpg" alt="" />
            <p class = "p0">郑州男子数钱数到手抽筋</p>
            <p class = "p1 ">要是真能数钱数到手抽筋，相信很多人做梦都能笑爆</p>
            <p class = "p2">2016-1-13</p>
        </div></a><a href="#/tongGao2">
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/lyp/11-4.jpg" alt="" />
            <p class = "p0">爱护小区公共设施从我做起</p>
            <p class = "p1 ">支付宝发布2015年全民账单 郑州人均5.7万元</p>
            <p class = "p2">2016-1-13</p>
        </div></a><div href="#/tongGao2">
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/lyp/11-5.jpg" alt="" />
            <p class = "p0">河南高校进入中国大学百名排行榜</p>
            <p class = "p1 ">河南省郑州花园路，一名私家车车主敲锣打鼓给路边一家汽车4s店送上印有“2016..</p>
            <p class = "p2">2016-1-13</p>
        </div></a>

    </div>

</div>

