
<div class="bar bar-header bar-positive">
    <button class="button button-clear" ng-click="back()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">内容详情</h1>
</div>
<div class="content has-header">
    <div class="list card">
        <div class="item">
            <h2>阳光海边沙滩</h2>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/wy/33.fw.png">
            <p>
                夏天，来自南太平洋的风使许多南面临海的城市感到湿漉漉的，而这股带着潮气的风经过胶东半岛崇山峻岭的阻拦、过滤，到达北面临海的烟台时，只剩下凉爽和惬意。因此，夏日烟台的海常常水平如镜，宛如一个恬静、温柔的少女。清晨，太阳像被水冲洗过的红色气球，飘飘悠悠地浮出水面，海面上拖着长长的倒影，每一次的海边日出都使人如痴如醉。傍晚，平静的海面倒映着万家灯火，岸边的石凳上坐满了游人，他们脚下，是海浪与堤岸的呢喃细语。
            </p>
        </div>
    </div>
</div>

