<style>
	/*i的订单*/
			body{
				background-color: #F0EFF5;
			}
			.i-village-center>.list>.item{
				background-color: #fff;
				margin-top: 10px;
			}
			.i-village-center>.list>.item .item{
				background-color:#F0EFF5 ;
			}
</style>


    <div class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">i的订单</h1>
    </div>
    <div class="content has-header i-village-center scroll scroll-content" style="overflow-y: scroll">
        <div class="list">
            <div class="item">
                    <a class="item item-thumbnail-left">
                        <img src="img/wy/35.fw.png">
                        <h2>海洋风连衣裙夏装新款首发</h2>
                        <p>价格:78.23元</p>
                    </a>
                    <div style="margin-top: 10px">下单时间：2016-02-03&nbsp;16:30</div>
            </div>
            <div class="item">
                <a class="item item-thumbnail-left">
                    <img src="img/wy/37.fw.png">
                    <h2>潮流时尚小香风精品女款手表</h2>
                    <p>价格:588元</p>
                </a>
                <div style="margin-top: 10px">下单时间：2016-02-22&nbsp;16:30</div>
            </div>
            <div class="item">
                <a class="item item-thumbnail-left" href="#/orderdetail">
                    <img src="img/wy/38.fw.png">
                    <h2>范冰冰同款太阳镜百搭款</h2>
                    <p>价格:156.35元</p>
                </a>
                <div style="margin-top: 10px">下单时间：2016-02-22&nbsp;16:30</div>
            </div>
            <div class="item">
                <a class="item item-thumbnail-left">
                    <img src="img/wy/39.fw.png">
                    <h2>儿童圆头小皮鞋</h2>
                    <p>价格:89.63元</p>
                </a>
                <div style="margin-top: 10px">下单时间：2016-02-22&nbsp;16:30</div>
            </div>
        </div>
    </div>
