<style>
	/*生活助理*/
			.life-help-content{
				margin-top: 10px;
			}
			.life-help-content .list:last-child {
				margin-bottom: 40px;
			}
			.life-help-content .list img{
				border-radius: 0px;
			}
</style>


    <div class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">i的生活助理</h1>
    </div>
    <div class="content has-header has-footer life-help-content">
        <div class="list">
            <a class="item item-icon-left item-icon-right item-avatar">
                <img src="img/wy/5.fw.png">
                <h2>小区问问服务</h2>
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-avatar">
                <img src="img/wy/6.fw.png">
                <h2>鸡毛信回复</h2>
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-avatar">
                <img src="img/wy/7.fw.png">
               <h2>"兑我所想"回复</h2>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </div>
