<style>
	/*body {
				background: #f0eff5;
			}
			.text {
				color: #FFFFFF;
				font-size: 12px;
			}
			a{
				text-decoration: none;
			}
			.box {
				background: #3A7CEB;
				width: 100%;
				height: 134px;
				padding-top: 20px;
				text-align: center;
			}
			ul {
				width:100%;
				height: 200px;
				background: #fff;
			}
			li {
				float: left;
				padding: 23px 18px;
				text-align: center;
			}
						li img {
							width: 20px;
							height: 20px;
						}
						li span{
							color: #888888;
							font-size: 12px;
						}*/
			/*我的钱*/
			/*body{
				background-color: #F0EFF5;
			}
			.imoney-content .itemmoney{
				background-color: #fff;
				margin-top: 10px;
			}
			.imoney-content .outcircle{
				width: 72px;
				height: 72px;
				border-radius: 50%;
				background-color: #FEDFBC;
				margin: 0 auto;
				position: relative;
			}
			.imoney-content .incircle{
				width: 65px;
				height: 65px;
				border-radius: 50%;
				background-color: #FD9927;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				font-size: 10px;
				text-align: center;
				color: #fff;
				line-height: 65px;
			}
			.imoney-content .incircle span{
				font-size: 27px;
			}
			.iheart{
				height: 14px;
				text-align: center;
			}
			.imoney-content .yue{
				height: 14px;
				text-align: right;
			}
			.change{
				width: 90%;
				margin: 0 auto;
			}
			.imoney-content .change .item{
				margin-top: 0;
				border-left: none;
				border-right: none;
			}
			.imoney-content .change .item span{
				color:#FD9927 ;
			}
			.imoney-content .item-input-wrapper{
				background-color: #fff;
			}
			.imoney-content .item-input-inset .item-input-wrapper input {
				padding-left: 4px;
				height: 29px;
				background: #eee;
				line-height: 18px;
				text-align: center;
			}
			.imoney-content .change .button-block{
				background-color:#FD9927;
				width: 50%;
				margin: 15px auto 0;
			}*/
			/*我的中奖纪录*/
			/*.bg{
				background-color: #fff;
			}
			.winrecord-content .tabs-top > .tabs{
				top: 1px;
			}
			.winrecord-content .tabs-top.tabs-striped {
				height: 17px;
			}
			.winrecord-content .item-thumbnail-left{
				padding-top: 20px;
			}
			.winrecord-content .tabs-striped.tabs-background-positive .tabs {
				background-color: #fff;
				background-image: none;
			}
			.winrecord-content .tabs-striped.tabs-color-light .tab-item{
				color:#434343;
			}
			.winrecord-content .tabs-striped.tabs-color-light .tab-item.active{
				color:#00f;
				border: 0 solid #00f;
			}
			.winrecord-content .tabs-background-positive .tabs, .tabs-background-positive > .tabs{
				border-color:#ddd;
			}*/
			/*i的订单*/
			/*body{
				background-color: #F0EFF5;
			}
			.i-village-center>.list>.item{
				background-color: #fff;
				margin-top: 10px;
			}
			.i-village-center>.list>.item .item{
				background-color:#F0EFF5 ;
			}*/
			/*生活助理*/
			/*.life-help-content{
				margin-top: 10px;
			}
			.life-help-content .list:last-child {
				margin-bottom: 40px;
			}
			.life-help-content .list img{
				border-radius: 0px;
			}*/
			/*i的家i做主*/
			/*.i-decide-content .time{
				height: 50px;
				margin-bottom: 10px;
				margin-top: 10px;
				text-align: center;
			}
			.i-decide-content .card{
				margin: 0 10px;
			}
			.i-decide-content .card .item:last-child {
				margin-bottom: 50px;
			}
			.i-decide-content .card .item:first-child>div{
				width: 308px;
				height: 208px;
				margin: 0 auto;
				position: relative;
			}
			.i-decide-content .card .item:first-child>div img{
				width: 308px;
			}
			.i-decide-content .card .item:first-child div div{
				width: 100%;
				height: 50px;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #000;
				opacity: 0.6;
				color: #fff;
				font-size: 20px;
				line-height: 50px;
			}*/
			/*小区问问*/
			/*.village-content .item{
				padding: 0px;
			}
			.tabs-top.tabs-striped {
				padding-bottom: 0;
				height: 50px;
			}
			.tabs-top > .tabs, .tabs.tabs-top{
				top:0;
			}
			.tabs-striped.tabs-background-positive .tabs{
				background-color: #fff;
			}
			.tabs-striped.tabs-background-positive .tabs .tab-item{
				color: #000;
			}
			.tabs-striped.tabs-background-positive .tabs .tab-item.active{
				border:0 solid #00f;
				color:#00f;
			}
			.tabs-background-positive .tabs, .tabs-background-positive > .tabs{
				border-color: #B7B7B7;
			}
			.village-contents .list:last-child {
				margin-bottom: 50px;
			}
			.downmore{
				margin: 60px auto;
				text-align: center;
				color: #CACACA;
			}
			.village-footer{
				padding-left: 100px;
			}*/
			/*设置*/
			/*.setting .list:last-child {
				margin-bottom: 60px;
			}
			.setting input{

			}
			.setting .button.button-block, .button.button-full {
				margin-top: 10px;
				margin-bottom: 80px;
			}*/
			/*订单详情*/
			/*.order-detail-content{
				background-color: #fff;
			}
			.order-detail-content .list .item:first-child .item:first-child{
				background-color: #F0EFF5;
			}
			.order-detail-content .list .item:last-child .list:last-child {
				margin-bottom: 50px;
			}*/
			/*提问*/
			/*.village-question-content{
				margin-top: 10px;
				height: 600px;
			}
			.loading-container .loading{
				position: fixed;
				top: 43px;
				width: 100%;
				background-color: rgba(200,80,0,.7);
			}*/
			@media (max-width: 680px){
				.modal {
					top: 50%;
					left: 50%;
					min-height: 240px;
					width:270px;
					height:171px;
					border-radius: 12px;
					overflow: hidden;
					transform:translate(-135px,-85px) !important;

				}
				.modal-backdrop-bg {
					-webkit-transition: opacity 300ms ease-in-out;
					transition: opacity 300ms ease-in-out;
					background-color: #000;
					opacity: .5;
				}
			}
			.modal-body{ height: 190px;}
			.modal-footer{ padding: 0; border-bottom: none;}
			.modal-footer .button{ color: dodgerblue; padding: 0; margin: 0;}
</style>
<ion-modal-view>
    <ion-list class="modal-risk">
        <ion-item class="item-text-wrap modal-body text-center">
            恭喜你兑换成功<br/>本次花费i心劵100元
        </ion-item>
        <ion-item class="modal-footer">
            <button class="button button-clear button-block " ng-click="modal.hide()">确定</button>
        </ion-item>
    </ion-list>
</ion-modal-view>