
<div class="bar bar-header bar-positive">
    <button class="button button-clear" ng-click="back()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">设置</h1>
</div>
<div class="content has-header setting">
    <div class="list">
        <label class="item item-input">
            旧密码
            <input type="text" placeholder="   请输入旧密码" >
        </label>
        <label class="item item-input">
            新密码
            <input type="text" placeholder="   请输入新密码">
        </label>
        <label class="item item-input">
            新密码
            <input type="text" placeholder="   请再次输入新密码">
        </label>
    </div>
    <button class="button button-block button-positive" style="background-color: #FD9927;width: 80%;margin: 10px auto 80px;" ng-click="changePassword()">
        提交
    </button>
</div>

