<style>
	/*订单详情*/
			.order-detail-content{
				background-color: #fff;
			}
			.order-detail-content .list .item:first-child .item:first-child{
				background-color: #F0EFF5;
			}
			.order-detail-content .list .item:last-child .list:last-child {
				margin-bottom: 50px;
			}
</style>


    <div class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">订单详情</h1>
    </div>
    <div class="content has-header order-detail-content">
        <div class="list">
            <div class="item">
                <div class="list">
                    <a class="item item-thumbnail-left">
                        <img src="img/wy/38.fw.png">
                        <h2>范冰冰同款太阳镜百搭款</h2>
                        <p>价格：1235元</p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="list list-inset">
                    <div class="item">
                       <span>订单号</span>&nbsp;&nbsp;42842482092
                    </div>
                    <div class="item">
                        <span>下单时间</span>&nbsp;&nbsp;2016-02-30&nbsp;14:52:30
                    </div>
                    <div class="item">
                        <span>下单手机号</span>&nbsp;&nbsp;1593841256
                    </div>
                    <div class="item">
                        <span>下单数量</span>&nbsp;&nbsp;1
                    </div>
                </div>
            </div>
        </div>
    </div>
