<style>
	/*提问*/
			.village-question-content{
				margin-top: 10px;
				height: 600px;
			}
			.loading-container .loading{
				position: fixed;
				top: 43px;
				width: 100%;
				background-color: rgba(200,80,0,.7);
			}
			
</style>
    <div class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">小区问问</h1>
    </div>
    <div class="content village-contents has-header has-footer">
        <div class="list">
            <!--<div class="item ">-->
                <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
                    <div class="tabs">
                        <a class="tab-item active">
                            按时间排序
                        </a>
                        <a class="tab-item" href="#/village1">
                            按心卷排序
                        </a>
                    </div>
                <!--</div>-->
            </div>
            <a class="item item-thumbnail-left">
                    <img src="img/wy/14.fw.png">
                    <p>小星星</p>
                    <h2>小区附近那家饭好吃</h2>
                    <p>回答356&nbsp;<img src="img/wy/11.fw.png" alt="">&nbsp;&nbsp;心劵68&nbsp;<img src="img/wy/12.fw.png" alt="">&nbsp;&nbsp;今天10:20</p>
            </a>
            <a class="item item-thumbnail-left">
                    <img src="img/wy/17.fw.png">
                    <p>安妮宝贝</p>
                    <h2>小区附近那个超市便宜</h2>
                    <p>回答2&nbsp;<img src="img/wy/11.fw.png" alt="">&nbsp;&nbsp;心劵20&nbsp;<img src="img/wy/12.fw.png" alt="">&nbsp;&nbsp;今天14:38</p>
            </a>
            <a class="item item-thumbnail-left">
                    <img src="img/wy/16.fw.png">
                    <p>小星星</p>
                    <h2>小区附近那家饭好吃</h2>
                    <p>回答2&nbsp;<img src="img/wy/11.fw.png" alt="">&nbsp;&nbsp;心劵12&nbsp;<img src="img/wy/12.fw.png" alt="">&nbsp;&nbsp;今天14:38</p>
            </a>
            <div class="downmore">加载更多</div>
        </div>
    </div>
    <div class="bar bar-footer bar-positive village-footer">
        <button class="button button-clear">
            <i class="icon ion-clipboard"></i>
        </button>
        <h1 class="title"><a href="#/villagequestion">我要提问</a></h1>
    </div>
