
<div class="bar bar-header bar-positive">
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="back()"></button>
    <h1 class="title">i的中奖纪录</h1>
</div>
<div class="content has-header winrecord-content">
    <div class="list">
        <div class="item bg">
            <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
                <div class="tabs">
                    <a class="tab-item " href="#/winrecord">
                        我参与的
                    </a>
                    <a class="tab-item active">
                        我中奖的
                    </a>
                </div>
            </div>
        </div>
        <div class="item bg item-thumbnail-left">
            <img src="img/wy/1.fw.png">
            <h2>家用电器韩式烧烤炉</h2>
            <p>价格：5888元</p>
            <span>每次参与所需i心劵235个&nbsp;&nbsp;购买份数1</span>
        </div>
        <div class="item bg item-thumbnail-left">
            <img src="img/wy/1.fw.png">
            <h2>小米运动手环 红蓝两色</h2>
            <p>价格：5888元</p>
            <span>每次参与所需i心劵5个&nbsp;&nbsp;购买份数1</span>
        </div>
        <div class="item bg item-thumbnail-left">
            <img src="img/wy/3.fw.png">
            <h2>智能萌宠插座橘子造型Q可爱</h2>
            <p>价格：5888元</p>
            <span>每次参与所需i心劵5个&nbsp;&nbsp;购买份数1</span>
        </div>
        <div class="item bg item-thumbnail-left" style="height: 150px">
            <img src="img/wy/4.fw.png">
            <h2>迪士尼套装四件彩笔</h2>
            <p>价格：5888元</p>
            <span>每次参与所需i心劵5个&nbsp;&nbsp;购买份数1</span>
        </div>
    </div>
</div>
